<div class="box-cards">
  <div class="box">
    <h1 class="title">Not started</h1>
    <div class="container-cards">
      <ul *ngIf="pegarTaskNotStarted()">
        <li *ngFor="let task of pegarTaskNotStarted(); let id = index">
          <input type="text" [(ngModel)]="task.content">
          <mat-icon class="icon-delete" (click)="apagarTask(id, 1)">delete</mat-icon>
        </li>
      </ul>
      <button *ngIf="btnCriarTaskNotStarted" (click)="criarTaskNotStarted()" class="new">+</button>
      <input *ngIf="!btnCriarTaskNotStarted" type="text" class="newTask" (keydown.enter)="adicionarNovaTask(1)" [(ngModel)]="contentNewTask" kbAutofocus>
    </div>
  </div>

  <div class="box">
    <h1 class="title">In Progress</h1>
    <div class="container-cards">
      <ul *ngIf="pegarTaskInProgress()">
        <li *ngFor="let task of pegarTaskInProgress(); let id = index">
          <input type="text" [(ngModel)]="task.content">
          <mat-icon class="icon-delete" (click)="apagarTask(id, 2)">delete</mat-icon>
        </li>
      </ul>
      <button *ngIf="btnCriarTaskInProgress" (click)="criarTaskInProgress()" class="new">+</button>
      <input *ngIf="!btnCriarTaskInProgress" type="text" class="newTask" (keydown.enter)="adicionarNovaTask(2)" [(ngModel)]="contentNewTask" kbAutofocus>
    </div>
  </div>

  <div class="box">
    <h1 class="title">Completed</h1>
    <div class="container-cards">
      <ul *ngIf="pegarTaskCompleted()">
        <li *ngFor="let task of pegarTaskCompleted(); let id = index">
          <input type="text" [(ngModel)]="task.content">
          <mat-icon class="icon-delete" (click)="apagarTask(id, 3)">delete</mat-icon>
        </li>
      </ul>
      <button *ngIf="btnCriarTaskCompleted" (click)="criarTaskCompleted()" class="new">+</button>
      <input *ngIf="!btnCriarTaskCompleted" type="text" class="newTask" (keydown.enter)="adicionarNovaTask(3)" [(ngModel)]="contentNewTask" kbAutofocus>
    </div>
  </div>
</div>
