<div class="box-cards drop-area" cdkDropListGroup>
  <div class="box">
    <h1 class="title">Not started</h1>
    <div class="container-cards">
      <ul
        cdkDropList
        [cdkDropListData]="getTaskNotStarted()"
        (cdkDropListDropped)="drop($event)">
        <li *ngFor="let task of getTaskNotStarted(); let id = index" cdkDrag>
          <div class="task">{{task}}</div>
          <mat-icon class="icon-delete" (click)="deleteTask(id, 1)">delete</mat-icon>
        </li>
      </ul>
      <button *ngIf="btnCreateTaskNotStarted" (click)="createTaskNotStarted()" class="new">+</button>
      <input *ngIf="!btnCreateTaskNotStarted" type="text" class="newTask" (keydown.enter)="addNewTask(1)" (focusout)="showNewBtn(1)" [(ngModel)]="contentNewTask" kbAutofocus>
    </div>
  </div>

  <div class="box">
    <h1 class="title">In Progress</h1>
    <div class="container-cards">
      <ul
        cdkDropList
        [cdkDropListData]="getTaskInProgress()"
        (cdkDropListDropped)="drop($event)">
        <li *ngFor="let task of getTaskInProgress(); let id = index" cdkDrag>
          <div class="task">{{task}}</div>
          <mat-icon class="icon-delete" (click)="deleteTask(id, 2)">delete</mat-icon>
        </li>
      </ul>
      <button *ngIf="btnCreateTaskInProgress" (click)="createTaskInProgress()" class="new">+</button>
      <input *ngIf="!btnCreateTaskInProgress" type="text" class="newTask" (keydown.enter)="addNewTask(2)" (focusout)="showNewBtn(2)" [(ngModel)]="contentNewTask" kbAutofocus>
    </div>
  </div>

  <div class="box">
    <h1 class="title">Completed</h1>
    <div class="container-cards">
      <ul
        cdkDropList
        [cdkDropListData]="getTaskCompleted()"
        (cdkDropListDropped)="drop($event)">
        <li *ngFor="let task of getTaskCompleted(); let id = index" cdkDrag>
          <div class="task">{{task}}</div>
          <mat-icon class="icon-delete" (click)="deleteTask(id, 3)">delete</mat-icon>
        </li>
      </ul>
      <button *ngIf="btnCreateTaskCompleted" (click)="createTaskCompleted()" class="new">+</button>
      <input *ngIf="!btnCreateTaskCompleted" type="text" class="newTask" (keydown.enter)="addNewTask(3)" (focusout)="showNewBtn(3)" [(ngModel)]="contentNewTask" kbAutofocus>
    </div>
  </div>
</div>
